#-------------------------dwt-dagster-template-------------------------
# Dagster development
export DAGSTER_HOME=

# Change to Prod or Dev
export MODE=dev

#Local-Dagster-Docker
export LOCAL_POSTGRES_USERNAME=username
export LOCAL_POSTGRES_PASSWORD=password
export LOCAL_POSTGRES_DBNAME=dagster
#------------------------dwt-terraform-template------------------------(aws)
# Staging
export TF_STAGING_PROFILE_NAME=staging-account
export TF_STAGING_BUCKET_NAME=dpd-de-sandbox-tf-state-staging
export TF_STAGING_DYNAMODB_TABLE_NAME=dwh-terraform-lock-staging
export TF_STAGING_REGION=us-west-2
# Staging -- Advanced
export TF_STAGING_IAM_ROLE_NAME=tf-role-staging
export TF_STAGING_IAM_ROLE_DOC=$(cat aws-policies/tf_staging_iam_role.json)
export TF_STAGING_IAM_POLICY_NAME=tf-policy-staging
export TF_STAGING_IAM_POLICY_DOC=$(cat aws-policies/tf_staging_iam_policy.json)
# Production
export TF_PROD_PROFILE_NAME=staging-account
export TF_PROD_BUCKET_NAME=dpd-de-sandbox-tf-state-staging
export TF_PROD_DYNAMODB_TABLE_NAME=dwh-terraform-lock-staging
export TF_PROD_REGION=us-west-2
export TF_PROD_IAM_ROLE_NAME=tf-role-staging
export TF_PROD_IAM_ROLE_DOC=$(cat aws-policies/tf_prod_iam_role.json)
export TF_PROD_IAM_POLICY_NAME=tf-policy-staging
export TF_PROD_IAM_POLICY_DOC=$(cat aws-policies/tf_prod_iam_policy.json)
